################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
*.suo
/WLabs.Days/WLabs.Days.Web.Tests/obj
/WLabs.Days/WLabs.Days.Web/obj
/WLabs.Days/WLabs.Days.Web.Tests/App_Data/NuGetBackup
/WLabs.Days/WLabs.Days.Web/App_Data/NuGetBackup
/Assets/JS/Magnific-Popup-master
/Assets/MapsTest/plunk-7gI24xHl7poKua0oKIm9.zip
/WLabs.Days/WLabs.Days.Web.Tests/bin
/WLabs.Days/WLabs.Days.Web/bin
/WLabs.Days/packages
/WLabs.Days/WLabs.Days.UI/App_Data/Logs
/WLabs.Days/WLabs.Days.UI/App_Data/cache
/WLabs.Days/WLabs.Days.UI/App_Data/TEMP
/WLabs.Days/WLabs.Days.UI/App_Data/NuGetBackup
/WLabs.Days/WLabs.Days.UI/obj
/WLabs.Days/.vs/config
temp
