@inherits UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
}
@{ Html.RenderPartial("umbHomepageBanner"); }
<!-- Main -->
<div id="main-wrapper">
    <div id="main" class="container">
		<div class="row">
            <div class="12u">
				<div class="content">
                    <!-- Content -->
                    <article class="is-page-content">
                        @*<header>
                            <h2>@pageTitle</h2>
                        </header>*@
                        <section>
                            @CurrentPage.mainText
                        </section>                           
                    </article>
                    <!-- /Content -->
                </div>
            </div>
        </div>
        @*<div class="row">
            <div class="12u">
                @{ Html.RenderPartial("umbFeatures"); }
            </div>
        </div>
        <div class="row">
            <div class="12u">
                @{   Html.RenderPartial("umbNewsOverviewWidget"); }
            </div>
        </div>*@
    </div>
</div>
<!-- /Main -->
