<rules>
	<rule name="Rewrite to combined CSS file">
		<match url="^([A-Za-z0-9]+.css)" />
		<action type="Rewrite" url="static_cacheable/{R:1}" />
	</rule>
	<rule name="Rewrite to combined JS file">
		<match url="^([A-Za-z0-9]+.js)" />
		<action type="Rewrite" url="static_cacheable/{R:1}" />
	</rule>
	<rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">
		 <match url="iisnode" />
	</rule>
	<!-- iisnode debugging support -->
	<rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">                    
		<match url="^main.js\/debug[\/]?" />
	</rule>
	<!-- A meteor app's public folder generally contains images -->
	<rule name="StaticContent">
		 <action type="Rewrite" url="public{{REQUEST_URI}}" />
	</rule>
	<rule name="DynamicContent">
		 <conditions>
			  <add input="{{REQUEST_FILENAME}}" matchType="IsFile" negate="True" />
		 </conditions>
		 <action type="Rewrite" url="main.js" />
	</rule>
</rules>