<template name="reservation">
    <h1>Réservation</h1>
    <div class="ui stackable grid">
        <div id="order-container" class="six wide column">
            {{> errorslist}}
            <form id="reservationForm" class="ui form">
                <div class="field">
                    <label>Départ</label>
                    <input id="start" type="text" placeholder="Depart" />
                </div>

                <div class="field">
                    <label>Destination</label>
                    <input id="end" type="text" placeholder="Destination" />
                </div>

                <div class="field">
                    <label>Le</label>
                    <input id="startat" class="ui dropdown datetimepicker" type="text" />
                </div>

                <div class="field">
                    <label>Type de véhicule</label>
                    <select id="vehicletype">
                        {{#each vehicletypeslist}}
                        <option>{{name}}</option>
                        {{/each}}
                        {{!--
                        <option {{#if selected}}selected{{/if}} value="{{value}}">{{value}}</option>
                        <option>Audi A6</option>
                        <option>Audi A8</option>
                        <option>Mercedes Classe E</option>
                        <option>Mercedes Classe S</option>
                        <option>Caravelle Minibus</option>
                        <option>Mercedes Classe V Minibus</option>
                        --}}
                    </select>
                </div>

                <div class="field">
                    <label>Votre voyage <span id="totaldistance">0</span> km, <span id="price">0.00</span> €</label>
                </div>

                <div>
                    <button type="submit" class="ui button">Réserver</button>
                </div>
            </form>
        </div>

        <div class="ten wide column">
            <div id="map"></div>
        </div>

    </div>
</template>