<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT daysReservation ANY>
<!ATTLIST daysReservation id ID #REQUIRED>
<!ELEMENT daysReservationFormPage ANY>
<!ATTLIST daysReservationFormPage id ID #REQUIRED>
<!ELEMENT daysReservationPage ANY>
<!ATTLIST daysReservationPage id ID #REQUIRED>
<!ELEMENT daysReservationsStore ANY>
<!ATTLIST daysReservationsStore id ID #REQUIRED>
<!ELEMENT umbHomePage ANY>
<!ATTLIST umbHomePage id ID #REQUIRED>
<!ELEMENT umbMaster ANY>
<!ATTLIST umbMaster id ID #REQUIRED>
<!ELEMENT umbNewsItem ANY>
<!ATTLIST umbNewsItem id ID #REQUIRED>
<!ELEMENT umbNewsOverview ANY>
<!ATTLIST umbNewsOverview id ID #REQUIRED>
<!ELEMENT umbTextPage ANY>
<!ATTLIST umbTextPage id ID #REQUIRED>

]>
<root id="-1">
  <umbHomePage id="1060" key="51e0130c-619a-4ed4-82e4-d6d2822f83ad" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-11-26T00:28:11" updateDate="2015-12-06T00:37:11" nodeName="Accueil" urlName="accueil" path="-1,1060" isDoc="" nodeType="1056" creatorName="Umbracoadmin" writerName="Umbracoadmin" writerID="0" template="1051" nodeTypeAlias="umbHomePage">
    <umbracoNaviHide>0</umbracoNaviHide>
    <title><![CDATA[Drivers At Your Services]]></title>
    <bannerBackgroundImage><![CDATA[/media/1003/banner2.png]]></bannerBackgroundImage>
    <bannerSubheader><![CDATA[Nos chauffeurs sont les ambassadeurs de notre société]]></bannerSubheader>
    <hideBanner>0</hideBanner>
    <aboutTitle><![CDATA[A propos de nous]]></aboutTitle>
    <mainText><![CDATA[<p><strong>DAYS</strong> est devenu une référence au sein des sociétés de location de berlines de luxe avec chauffeur en France.</p>
<p>Confort, réactivité et discrétion font de <em><strong>Drivers At Your Services</strong></em> un acteur incontournable pour l'organisation de vos déplacements d'affaires et de loisirs.</p>]]></mainText>
    <byline><![CDATA[Drivers At Your Services]]></byline>
    <copyright><![CDATA[Drivers At Your Services]]></copyright>
    <siteName><![CDATA[Days]]></siteName>
    <daysReservationFormPage id="1094" key="b0c50a5d-87ac-45fa-8b3f-e4b11cba6909" parentID="1060" level="2" creatorID="0" sortOrder="0" createDate="2016-02-10T23:47:58" updateDate="2016-02-11T01:30:10" nodeName="ReservationForm" urlName="reservationform" path="-1,1060,1094" isDoc="" nodeType="1092" creatorName="Umbracoadmin" writerName="Umbracoadmin" writerID="0" template="1099" nodeTypeAlias="daysReservationFormPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Réserver]]></title>
      <StorageFolder>1081</StorageFolder>
      <DocumentType><![CDATA[[
  {
    "alias": "daysReservation",
    "name": "Days Reservation"
  }
]]]></DocumentType>
      <ThankYouMessage><![CDATA[Merci! Nous allons vous recontacter prochainement pour confirmer votre reservation.]]></ThankYouMessage>
    </daysReservationFormPage>
    <umbTextPage id="1071" key="6ffeea12-0282-49b5-ad3e-6093efa4265e" parentID="1060" level="2" creatorID="0" sortOrder="2" createDate="2015-12-06T00:28:40" updateDate="2016-02-09T00:45:54" nodeName="Drivers" urlName="drivers" path="-1,1060,1071" isDoc="" nodeType="1059" creatorName="Umbracoadmin" writerName="Umbracoadmin" writerID="0" template="1054" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Nos chauffeurs]]></title>
      <bodyText><![CDATA[<p>Ils représentent l'esprit de DAYS et sa démarche qualité auprès de nos clients et de leurs hôtes de marque.</p>
<p>A ce titre, ils sont sélectionnés avec attention et font preuve d'une grande discrétion garantissant votre tranquillité et la confidentialité de tous vos déplacements.</p>
<p>Ils seront en toute circonstance des hommes de confiance. Nos chauffeurs sont tenus à la plus stricte confidentialité et sont titulaires des permis de conduire strictement conformes à la réglementation en vigueur.</p>]]></bodyText>
      <featuredPage>0</featuredPage>
    </umbTextPage>
    <umbTextPage id="1070" key="ce22adf2-4832-4f99-a01c-3b27d1f272fb" parentID="1060" level="2" creatorID="0" sortOrder="3" createDate="2015-12-06T00:27:26" updateDate="2016-02-09T00:45:54" nodeName="Values" urlName="values" path="-1,1060,1070" isDoc="" nodeType="1059" creatorName="Umbracoadmin" writerName="Umbracoadmin" writerID="0" template="1054" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Nos valeurs]]></title>
      <bodyText><![CDATA[<p>QUALITE et PERFECTION</p>
<ul>
<li>un accueil téléphonique irréprochable, disponible 24 heures sur 24 et 7 jours sur 7</li>
<li>des chauffeurs formés en permanence, sélectionnés pour leur présentation, leur prestance, leur connaissance de Paris, leur maîtrise d'une ou de plusieurs langues étrangères</li>
<li>des véhicules récents, sûrs, choisis pour leur confort, leur élégance et leur respect de l'environnement</li>
</ul>
<p>DISCRETION</p>
<p>Tous nos chauffeurs sont tenus à une stricte confidentialité sur l'identité de leurs passagers. DAYS a su gagner la confiance de chefs d'entreprises multinationales, des personnalités du show-business, des têtes couronnées et des chefs d'état.</p>
<p>RESPECT et L'ENVIRONNEMNT</p>
<p>DAYS contribue au développement durable par un choix responsable de ses véhicules. Nos chauffeurs sont formés à une éco-conduite paisible et confortable.</p>]]></bodyText>
      <featuredPage>0</featuredPage>
    </umbTextPage>
    <umbTextPage id="1072" key="98e533e3-027e-4d9a-aadc-627f2004ea87" parentID="1060" level="2" creatorID="0" sortOrder="4" createDate="2015-12-06T00:29:27" updateDate="2016-02-09T00:45:54" nodeName="Services" urlName="services" path="-1,1060,1072" isDoc="" nodeType="1059" creatorName="Umbracoadmin" writerName="Umbracoadmin" writerID="0" template="1054" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Notre service]]></title>
      <bodyText><![CDATA[<p>Nous proposons plusieurs types de prestations :</p>
<p>- des transferts pour vos trajets d'une adresse à une autre, (par exemple d'un aéroport jusqu'à votre domicile ou votre hôtel)<br />- des mises à disposition qui vous permettent de disposer d'une voiture et de son chauffeur pour une durée pouvant aller de quelques heures à plusieurs jours</p>
<p>Que vous soyez un particulier, une entreprise ou une agence événementielle, que ce soit pour des sorties privées ou des événements de plus grande ampleur.</p>
<p>Vous bénéficierez de toute l'expertise de Drivers At Your Services.</p>]]></bodyText>
      <featuredPage>0</featuredPage>
    </umbTextPage>
    <umbTextPage id="1073" key="8dd248eb-83f9-42ef-b6e6-1f076a43e1e4" parentID="1060" level="2" creatorID="0" sortOrder="5" createDate="2015-12-06T00:29:44" updateDate="2016-02-09T00:45:54" nodeName="Vehicles" urlName="vehicles" path="-1,1060,1073" isDoc="" nodeType="1059" creatorName="Umbracoadmin" writerName="Umbracoadmin" writerID="0" template="1054" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Nos véhicules]]></title>
      <image><![CDATA[/media/1005/vehicles.png]]></image>
      <featuredPage>0</featuredPage>
    </umbTextPage>
    <umbNewsOverview id="1065" key="9174e3a7-bcb6-4073-bcd6-5c5eeff99a7b" parentID="1060" level="2" creatorID="0" sortOrder="6" createDate="2015-11-26T00:28:11" updateDate="2016-02-09T00:45:54" nodeName="Actualités" urlName="actualités" path="-1,1060,1065" isDoc="" nodeType="1058" creatorName="Umbracoadmin" writerName="Umbracoadmin" writerID="0" template="1053" nodeTypeAlias="umbNewsOverview">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Actualités]]></title>
      <umbNewsItem id="1067" key="799afe13-2c4b-4f12-beaa-d37ec95f4ace" parentID="1065" level="3" creatorID="0" sortOrder="1" createDate="2015-11-26T00:28:11" updateDate="2015-11-26T00:28:11" nodeName="This is a wonderful news item" urlName="this-is-a-wonderful-news-item" path="-1,1060,1065,1067" isDoc="" nodeType="1057" creatorName="Umbracoadmin" writerName="Umbracoadmin" writerID="0" template="1052" nodeTypeAlias="umbNewsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commoda autem et incommoda in eo genere sunt, quae praeposita et reiecta diximus; Bestiarum vero nullum iudicium puto. Est enim effectrix multarum et magnarum voluptatum. Duo Reges: constructio interrete. Claudii libidini, qui tum erat summo ne imperio, dederetur. Quarum ambarum rerum cum medicinam pollicetur, luxuriae licentiam pollicetur. Sed virtutem ipsam inchoavit, nihil amplius.</p>
<p>Ita redarguitur ipse a sese, convincunturque scripta eius probitate ipsius ac moribus. Istam voluptatem, inquit, Epicurus ignorat? Sed venio ad inconstantiae crimen, ne saepius dicas me aberrare; Sic, et quidem diligentius saepiusque ista loquemur inter nos agemusque communiter. Primum in nostrane potestate est, quid meminerimus? Consequens enim est et post oritur, ut dixi. Hoc mihi cum tuo fratre convenit. Immo videri fortasse. Itaque in rebus minime obscuris non multus est apud eos disserendi labor. Aliud igitur esse censet gaudere, aliud non dolere.</p>]]></bodyText>
      </umbNewsItem>
      <umbNewsItem id="1068" key="9eeecc7e-0437-4b3f-bdd4-3a4765e18345" parentID="1065" level="3" creatorID="0" sortOrder="2" createDate="2015-11-26T00:28:11" updateDate="2015-11-26T00:28:11" nodeName="You really need to read this!" urlName="you-really-need-to-read-this" path="-1,1060,1065,1068" isDoc="" nodeType="1057" creatorName="Umbracoadmin" writerName="Umbracoadmin" writerID="0" template="1052" nodeTypeAlias="umbNewsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p><span>Ut aliquid scire se gaudeant? Hanc ergo intuens debet institutum illud quasi signum absolvere. Vestri haec verecundius, illi fortasse constantius. Itaque sensibus rationem adiunxit et ratione effecta sensus non reliquit. Sed ea mala virtuti magnitudine obruebantur. Quasi ego id curem, quid ille aiat aut neget. Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt; Apparet statim, quae sint officia, quae actiones.</span></p>
<p><span><span>Virtutibus igitur rectissime mihi videris et ad consuetudinem nostrae orationis vitia posuisse contraria. Nonne videmus quanta perturbatio rerum omnium consequatur, quanta confusio? Sed eum qui audiebant, quoad poterant, defendebant sententiam suam. Ut necesse sit omnium rerum, quae natura vigeant, similem esse finem, non eundem.</span></span></p>]]></bodyText>
      </umbNewsItem>
    </umbNewsOverview>
  </umbHomePage>
  <daysReservationsStore id="1081" key="23c90b7c-8139-4c5f-bbe2-3a84bac721d2" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2016-02-09T00:35:49" updateDate="2016-02-09T00:35:49" nodeName="Reservations" urlName="reservations" path="-1,1081" isDoc="" nodeType="1079" creatorName="Umbracoadmin" writerName="Umbracoadmin" writerID="0" template="0" nodeTypeAlias="daysReservationsStore" />
</root>