@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="row">
	<div class="9u">
		<div id="map"></div>
	</div>

	<div id="order-container" class="3u">
		<form>
			<h1>Votre voyage <span id="total-distance">0</span> km</h1>

			<label>Depart
				<input id="text-start" type="text" class="large" />
			</label>

			<label>Destination
				<input id="text-end" type="text" class="large" />
			</label>

			<label>A
				<input id="datetime-from" type="text" class="large" />
			@*</label>

			<label>*@
				<select id="vehicle-type" class="large">
					<option>Audi A6</option>
					<option>Audi A8</option>
					<option>Mercedes Classe E</option>
					<option>Mercedes Classe S</option>
					<option>Caravelle Minibus</option>
					<option>Mercedes Classe V Minibus</option>
				</select>
			</label>

			<div>
				<button id="btn-order" type="submit" class="button primary">Réserver</button>
			</div>
		</form>
	</div>
</div>