@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="row">
	<div class="9u">
		<div id="map"></div>
	</div>

	<div id="order-container" class="3u">
		<form>
			<h1>Votre voyage <span id="total-distance">0</span> km</h1>
			<input id="text-start" type="text" placeholder="Depart" class="large" />
			<input id="datetime-from" type="text" class="large" />
			<input id="text-end" type="text" placeholder="Destination" class="large" />
			<input id="datetime-to" type="text" class="large" />

			<select id="vehicle-type" class="large">
				<option>Audi A6</option>
				<option>Audi A8</option>
				<option>Mercedes Classe E</option>
				<option>Mercedes Classe S</option>
				<option>Caravelle Minibus</option>
				<option>Mercedes Classe V Minibus</option>
			</select>

			<div>
				<button id="btn-order" type="submit" class="button">Réserver</button>
			</div>
		</form>
	</div>
</div>