@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<section>
  <h3 class="major"><span>Contact</span></h3>@*Umbraco.GetDictionaryValue("Contacts")*@
  <div class="contact">
    7 allée Alfred Costes<br/>
		92100 Boulogne Billancourt<br/>
		<br/>
		DaysVtc@gmail.com<br/>
		0626592772&nbsp;/&nbsp;0658179491<br/>
  </div>
</section>