<template name="ReservationItem">
  <tr>
    <td>{{formatDate createdAt}}</td>
    <td>{{contact.lastname}} {{contact.lastname}},<br />{{contact.phone}},<br />{{contact.email}}</td>
    <td>{{ride.start}} > {{ride.end}}</td>
    <td>{{formatDate ride.startAt}}</td>
    <td>{{formatDecimal estimatedPrice}}</td>
    <!--<td>{{comment}}</td>-->
    <td>{{formatReservationStatus status}}</td>
    <td class="collapsing">
      {{#if isCancellable}}
      <button type="button" id="cancelReservation" class="ui icon button" title="Annuler">
        <i class="remove icon"></i>
      </button>
      {{/if}}
      {{#if isDriverAssignable}}
      <select id="driversList">
        <option value="">ToDo Add Drivers</option>
      </select>
      {{/if}}
      {{#if isConfirmable}}
      <button type="button" id="confirmReservation" class="ui icon button secondary" title="Confirmer">
        <i class="payment icon"></i>
      </button>
      {{/if}}
      {{#if isDoable}}
      <button type="button" id="setReservationDone" class="ui icon button primary" title="Terminer">
        <i class="checkmark icon"></i>
      </button>
      <button type="button" id="setReservationNotDone" class="ui icon button primary" title="Non terminer">
        <i class="checkmark icon"></i>
      </button>
      {{/if}}
    </td>
  </tr>
</template>