<template name="ReservationItem">
    <td>{{formatDate ride.startAt}}</td>
<div class='grey card'>
  <div class="content">
    <div class="right floated mini ui "><strong>{{formatReservationStatus status}}</strong></div>
    <div class="header">{{contact.lastname}} {{contact.firstname}}</div>
    <div class="meta"><br />{{contact.phone}},<br />{{contact.email}}<br/> Réservé le {{formatDate createdAt}} </div>
    <div class="description"><strong>Départ le </strong>{{formatDate ride.startAt}} <strong> <br/> À </strong> {{ride.start}} <br/> 
    <strong> Vers </strong> {{ride.end}} <br/> <strong>Prix: </strong> {{formatDecimal price}}</div>
  </div>
  <div class="extra content">
    <div class="ui to buttons">
      {{#if isConfirmable}}<div class="ui basic green button" id="confirmReservation" title="Confirmer">Confirmer</div>{{/if}}
      {{#if isCancellable}}<div class="ui basic red button" id="cancelReservation" title="Annuler">Decline</div>{{/if}}
      {{#if isDriverAssignable}}  <select id="driversList"> <option value="">ToDo Add Drivers</option> </select>{{/if}}
      {{#if isDoable}}
      <div id="setReservationDone" class="ui basic white button" title="Terminer">Terminer</div>
      <div id="setReservationNotDone" class="ui basic white button" title="Non terminer">Non terminer</div>
      {{/if}}
    </div>
  </div>
  </div>
</template>