<template name="ReservationItem">
  <tr>
    <td>{{formatDate createdAt}}</td>
    <td>{{contact.lastname}} {{contact.lastname}},<br />{{contact.phone}},<br />{{contact.email}}</td>
    <td>{{ride.start}} > {{ride.end}}</td>
    <td>{{formatDate ride.startAt}}</td>
    <td>{{formatDecimal price}}</td>
    <!--<td>{{comment}}</td>-->
    <td>{{formatReservationStatus status}}</td>
    <td class="collapsing">
      {{#if isAcceptable}}
      <button type="button" class="acceptReservation ui icon button primary" title="Accepter"><i class="checkmark icon"></i></button>
      {{/if}}
      {{#if isConfirmable}}
      <button type="button" class="confirmReservation ui icon button secondary" title="Confirmer"><i class="payment icon"></i></button>
      {{/if}}
      {{#if isCancelable}}
      <button type="button" class="cancelReservation ui icon button" title="Annuler"><i class="remove icon"></i></button>
      {{/if}}
    </td>
  </tr>
</template>