<template name="Layout">
  <!-- Top Menu -->
  <div class="ui large top fixed inverted menu">
    <div class="ui container">
      <a class="toc item"><i class="sidebar icon"></i></a>
      
      {{#if isDriverOrAdmin}}
      <a href="{{pathFor 'home'}}" class="header hideable item {{isActiveRoute 'home'}}">Days</a>
      <a class="item {{isActiveRoute 'reservations'}}" href="{{pathFor 'reservations'}}">Réservations</a>
      {{else}}
      {{!-- also show for not logged in users --}}
      <a href="{{pathFor 'home'}}" class="header hideable item {{isActiveRoute 'home'}}">Days</a>
      <a class="item {{isActiveRoute 'reservation'}}" href="{{pathFor 'reservation'}}">Réserver</a>
      <div class="ui item hideable simple dropdown">
        A propos de nous <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item {{isActiveRoute 'drivers'}}" href="{{pathFor 'drivers'}}">Nos chauffeurs</a>
          <a class="item {{isActiveRoute 'values'}}" href="{{pathFor 'values'}}">Nos valeurs</a>
          <a class="item {{isActiveRoute 'services'}}" href="{{pathFor 'services'}}">Notre service</a>
          <a class="item {{isActiveRoute 'vehicles'}}" href="{{pathFor 'vehicles'}}">Nos véhicules</a>
        </div>
      </div>
      {{/if}}

      <div class="right menu">
        {{#if currentUser}}
        <div class="ui item simple dropdown">
          {{currentUserEmail}}<i class="dropdown icon"></i>
          <div class="menu">
            <a class="item {{isActiveRoute 'profile'}}" href="{{pathFor 'profile'}}">Mon profile</a>
            {{#if isDriverOrAdmin}}            
            <a class="item {{isActiveRoute 'driverCompany'}}" href="{{pathFor 'driverCompany'}}">Société</a>
            <a class="item {{isActiveRoute 'driverVehicles'}}" href="{{pathFor 'driverVehicles'}}">Vehicules</a>
            {{else}}
            <a class="item {{isActiveRoute 'reservations'}}" href="{{pathFor 'reservations'}}">Mes réservations</a>
            {{/if}}
          </div>
        </div>
        {{/if}}
        {{> atNavButton}}
      </div>
    </div>
  </div>

  <div class="content-wrapper">
    <div id="body">
      <div class="ui inverted vertical left sidebar menu">
        <!-- Sidebar Menu -->
        <div class="sidemenu-wrapper">
          <a href="{{pathFor 'home'}}" class="item {{isActiveRoute 'home'}}">Accueil</a>
          <a class="item {{isActiveRoute 'drivers'}}" href="{{pathFor 'drivers'}}">Nos chauffeurs</a>
          <a class="item {{isActiveRoute 'values'}}" href="{{pathFor 'values'}}">Nos valeurs</a>
          <a class="item {{isActiveRoute 'services'}}" href="{{pathFor 'services'}}">Notre service</a>
          <a class="item {{isActiveRoute 'vehicles'}}" href="{{pathFor 'vehicles'}}">Nos véhicules</a>
        </div>
      </div>  

      <div class="pusher">
        <!-- Masthead banner -->
        {{> Template.dynamic template=banner}}
        <!-- Page Contents -->
        <div class="ui main container">
          {{> Template.dynamic template=content}}
        </div>

        <div class="ui inverted vertical footer segment">
          <div class="ui container">
            <div class="ui inverted divided equal height centered grid">
              <div class="eight wide right aligned column">
                <h4 class="ui inverted header">Qui sommes nous</h4>
                <div class="ui inverted link list">
                  <a href="#" class="item">Nous contacter</a>
                </div>
              </div>
              <div class="eight wide column">
                <h4 class="ui inverted header">Restez en contact</h4>
                <div class="ui inverted link list">
                  <a href="#" class="item">Facebook</a>
                  <a href="#" class="item">Twitter</a>
                </div>
              </div>
            </div>
          </div>
          <div class="ui inverted center aligned segment">
            <span class="ui inverted">Drivers At Your Service&copy; 2016&nbsp;&nbsp;&nbsp;{{version}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>