@inherits UmbracoTemplatePage
@{
	Layout = "umbLayout.cshtml";

	var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.Title)
		? CurrentPage.Name
		: CurrentPage.Title;
}
<div id="main-wrapper">
	<div id="main" class="container">
		<div class="row">
			<div class="12u">
				<div class="content content-left">
					<!-- Content -->
					<div class="row">
						<div class="4u">
							@Html.Partial("daysReservationForm")
						</div>
						<div class="8u">
							<div id="map"></div>
						</div>
					</div>
					<!-- /Content -->
				</div>
			</div>
		</div>
		@*
				<div class="3u">
					<div class="sidebar">
						<!-- Sidebar -->
						@{ Html.RenderPartial("umbLatestNewsWidget"); }
						<!-- /Sidebar -->
					</div>
				</div>
			</div>
			<div class="row">
						<div class="12u">
								@{ Html.RenderPartial("umbFeatures"); }
						</div>
				</div>
		*@
	</div>
</div>
<!-- /Main -->
@section Includes
{
	<link href="~/css/jquery.datetimepicker.css" rel="stylesheet" />
	<script src="~/js/jquery.datetimepicker.full.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApBhPfNo8j1lT0hLV5u_ONQ3mjD1Wl-U8&signed_in=true&libraries=places"></script>
	<script src="~/js/reservation.js"></script>
}